@model Bookish.Models.BookCopyResult
@{
    ViewData["Title"] = "View Copies";
}

<div class="text-center">
    <h1 class="display-4">Copies of @Model.book.Title</h1>
</div>

@Html.Partial("_CopyTable", Model.copies);