<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            
            <div class="modal-body">
                <p>Are you sure you want to delete <span id="deleteFormName"></span>?</p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                @using (Html.BeginForm((string) Model.Action, (string) Model.Controller, FormMethod.Post))
                {
                    <input type="hidden" id="deleteFormId" name="Id" value="">
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash-fill"></i>
                        Delete
                    </button>
                }
            </div>
        </div>
    </div>
</div>