@model List<BookModel>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <th scope="row">@book.Id</th>
                <td>@book.Author</td>
                <td>@book.Title</td>
                <td>
                    @using (Html.BeginForm("ViewCopies", "Book", FormMethod.Post))
                    {
                        <input type="hidden" id="title" name="Title" value="@book.Title">
                        <input type="hidden" id="id" name="Id" value=@book.Id>
                        <button type="submit" class="btn btn-primary">View Copies</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("EditBook", "Book", FormMethod.Get))
                    {
                        <input type="hidden" id="id" name="id" value=@book.Id>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("DeleteBook", "Book", FormMethod.Post))
                    {
                        <input type="hidden" id="id" name="id" value=@book.Id>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>