@model List<BookModel>
@{
    ViewData["Title"] = "Search Books Results";
}

<div class="text-center">
    <h1 class="display-4">Search Books Results</h1>
</div>

@Html.Partial("_BookTable")
s 