@model Bookish.Models.BookCopyResult
@{
    ViewData["Title"] = "View Copies";
}

<div class="text-center mb-4">
    <h1 class="display-4">Copies of @Model.book.Title</h1>
</div>

<div class="container mb-4">
    @using (Html.BeginForm("AddCopy", "Book", FormMethod.Post))
    {
        <input type="hidden" id="addCopyId" name="Id" value=@Model.book.Id>
        <button type="submit" class="btn btn-primary">Add copy</button>
    }
</div>

@Html.Partial("_CopyTable", Model.copies)