@model Bookish.Models.CheckOutModel
@{
    ViewData["Title"] = "View Copies";
}

@Html.Partial("_AddMultipleCopiesModal", new { Title = Model.Book.book.Title, BookId = Model.Book.book.Id})

<div class="text-center mb-4">
    <h1 class="display-4">Copies of @Model.Book.book.Title</h1>
</div>
<br/>
<div class="container mb-4">
    @using (Html.BeginForm("AddCopies", "Book", FormMethod.Post, new {@style = "display: inline;"}))
    {
        <input type="hidden" id="addCopyId" name="book.Id" value=@Model.Book.book.Id>
        <input type="hidden" id="addCopyNum" name="numberOfCopies" value="1">
        <button type="submit" class="btn custom-btn-primary">
            <i class="bi bi-plus-lg"></i>
            Add copy
        </button>
    }
    
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#addCopiesModal">
        <i class="bi bi-plus-lg"></i>
        Add multiple copies
    </button>
</div>

@Html.Partial("_CopyTable")