@model Bookish.Models.MemberModel
@{
    ViewData["Title"] = "Add Member";
}

<div class="text-center">
    <h1 class="display-4">Add a Member</h1>
    @if (Model != null)
    {
        <div class="alert alert-success" role="alert">
            Successfully added @Model.Name to the library! :)
        </div>
    }

    <div class="col">
        @using (Html.BeginForm("AddMember", "Member", FormMethod.Post))
        {
            @foreach (var property in typeof(MemberModel).GetProperties())
            {
                if (property.Name != "Id")
                {
                    <div class="mb-3">
                    <label for=@property.Name class="form-label">@property.Name</label>
                    <input type="text" class="form-control" id=@property.Name name=@property.Name>
                    </div>
                }
            }
            <button type="submit" class="btn custom-btn-primary">Submit</button>
        }
    </div>
</div>